<h1>Here you can find user in GitHub and the list of him repositories!</h1>

<%= form_with url: last_pages_user_form_path, method: :get do |f| %>
  <div class="mb-3">
    <label class="form-label">GitHub_login</label>
    <%= f.text_field :username, placeholder: "Enter login" %>
  </div>
  <%= f.submit 'Find', class: "btn btn-primary" %>
<% end %>





<div class="mb-3">
  <label class="form-label">GitHub_login</label>
  <%= text_field_tag :username, nil, id: 'user-name' %>
</div>
<%= submit_tag 'Find', class: "ses_submit_btn", id: 'find-user'  %>

<script>
  $(document).ready(function() {
    $("#find-user").on('click', function() {
      let username = $("#user-name").val()
      console.log(username)

      $.ajax({
        type: "GET",
        dataType: 'JSON',
        contentType: 'application/json',
        url: `/last_pages/user_form_async?username=${username}`,
        // data: JSON.stringify({postData}),
        success: function (data) {
          console.log(data)


      console.log(0);
      $.ajax({
        success: function(data) {
          console.log('I get response');
        }
      });
      console.log(1); 
          // $('#users-block').html(JSON.stringify(data))

      //       var a = 5;
      // $.ajax();

      // a = 8;
      // console.log(a);
      
      // console.log(0);
      // setTimeout(function() {
      //   console.log(1);
      // }, 100);
      // console.log(2);

        }
      });
    })
  })
</script>
